/.cache
/.vscode
/.vs
/.direnv
/build*
/external
/figures
/out
/logs
/results
/tmp
/venv
/video
/rtc
/outputs
/gen3c-gui
/*.dll
/*.so
/*.so.*
/*.exe
/*.json
*.ingp
*.msgpack
*.training
__pycache__
.DS_Store
imgui.ini
